@media screen and (max-width: 1350px) {
    main{
        width: 100%;
    }
    aside{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 0;
        overflow: hidden;
    }
    #menu, #close-menu{
        display: block;
    }
}

@media screen and (max-width: 1070px) {
    .pages{
        width: 350px;
    }
}

@media screen and (max-width: 790px) {
    #page-dx{
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .pages{
        width: 270px;
    }
}